<section class="cover-section">
  <h2 class="visually-hidden">Covers</h2>
  <div class="container cover-container">
    <ul class="cover-list">
      <li class="cover-item">
        <img src="./img/covers/image-fruits.jpg" alt="Fruitbox"
          srcset="./img/covers/image-fruits.jpg 1x, ./img/covers/image-fruits_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-business.jpg" alt="StarlightStudio"
          srcset="./img/covers/image-business.jpg 1x, ./img/covers/image-business_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-power.jpg" alt="Energy Flow"
          srcset="./img/covers/image-power.jpg 1x, ./img/covers/image-power_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-discover.jpg" alt="English Excelence"
          srcset="./img/covers/image-discover.jpg 1x, ./img/covers/image-discover_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
    </ul>
    <ul class="cover-list">
      <li class="cover-item">
        <img src="./img/covers/image-vegetables.jpg" alt="Green Harvest"
          srcset="./img/covers/image-vegetables.jpg 1x, ./img/covers/image-vegetables_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-workout.jpg" alt="Energy Flow"
          srcset="./img/covers/image-workout.jpg 1x, ./img/covers/image-workout_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-brand.jpg" alt="Chego"
          srcset="./img/covers/image-brand.jpg 1x, ./img/covers/image-brand_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-wallet.jpg" alt="Wallet"
          srcset="./img/covers/image-wallet.jpg 1x, ./img/covers/image-wallet_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
    </ul>
    <ul class="cover-list">
      <li class="cover-item">
        <img src="./img/covers/image-mimino.jpg" alt="Mimino"
          srcset="./img/covers/image-mimino.jpg 1x, ./img/covers/image-mimino_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-costum.jpg" alt="Ukrainian traditional"
          srcset="./img/covers/image-costum.jpg 1x, ./img/covers/image-costum_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-wallet.jpg" alt="Wallet"
          srcset="./img/covers/image-wallet.jpg 1x, ./img/covers/image-wallet_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-power.jpg" alt="Power pulse"
          srcset="./img/covers/image-power.jpg 1x, ./img/covers/image-power_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
    </ul>
    <ul class="cover-list">
      <li class="cover-item">
        <img src="./img/covers/image-discover.jpg" alt="English Excelence"
          srcset="./img/covers/image-discover.jpg 1x, ./img/covers/image-discover_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-power.jpg" alt="Power pulse"
          srcset="./img/covers/image-power.jpg 1x, ./img/covers/image-power_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-fruits.jpg" alt="Fruitbox"
          srcset="./img/covers/image-fruits.jpg 1x, ./img/covers/image-fruits_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
      <li class="cover-item">
        <img src="./img/covers/image-business.jpg" alt="StarlightStudio"
          srcset="./img/covers/image-business.jpg 1x, ./img/covers/image-business_2x.jpg 2x" loading="lazy"
          class="cover-image" />
      </li>
    </ul>
  </div>
  <script src="../js/covers.js" defer></script>
</section>