<section class="faq-container container" id="faq-section">
  <h2 class="faq-title">FAQ</h2>
  <ul class="faq-accordion-container accordion-container">
    <li class="ac faq-ac faq-border">
      <h3 class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger" style="color: #fafafa; display: inline; font-weight: 600; font-size: 20px; line-height: 150%;">
          <span class="faq-text">What programming languages are most often used in your project?</span>
        </button>
      </h3>
      <div class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text" style="color: rgba(250, 250, 250, 0.6); font-weight: 500; font-size: 16px; line-height: 150%;">In the field of web development, there are various technologies and programming languages. Typically, this includes a
        combination of frontend (client side) and backend (server side) languages.</p>
      </div>
    </li>

    <li class="ac faq-ac faq-border">
      <h3 class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger"
          style="color: #fafafa; display: inline; font-weight: 600; font-size: 20px; line-height: 150%;">
          <span class="faq-text">What are the deadlines for the project?</span>
        </button>
      </h3>
      <div class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text"
          style="color: rgba(250, 250, 250, 0.6); font-weight: 500; font-size: 16px; line-height: 150%;">The terms of
          project implementation depend to a large extent on a number of factors, such as the scope of the project, its
          complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually
          occurs during the planning phase of the project.</p>
      </div>
    </li>

    <li class="ac faq-ac faq-border">
      <h3 class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger"
          style="color: #fafafa; display: inline; font-weight: 600; font-size: 20px; line-height: 150%;">
          <span class="faq-text">What payment methods do you accept?</span>
        </button>
      </h3>
      <div class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text"
          style="color: rgba(250, 250, 250, 0.6); font-weight: 500; font-size: 16px; line-height: 150%;">Payment through
          credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal,
          as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
      </div>
    </li>

    <li class="ac faq-ac">
      <h3 class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger"
          style="color: #fafafa; display: inline; font-weight: 600; font-size: 20px; line-height: 150%;">
          <span class="faq-text">How can I contact you?</span>
        </button>
      </h3>
      <div class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text"
          style="color: rgba(250, 250, 250, 0.6); font-weight: 500; font-size: 16px; line-height: 150%;">In the field of web
          development, there are various technologies and programming languages. Typically, this includes a
          combination of frontend (client side) and backend (server side) languages.</p>
      </div>
    </li>

    <li class="ac faq-ac">
      <h3 class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger"
          style="color: #fafafa; display: inline; font-weight: 600; font-size: 20px; line-height: 150%;">
          <span class="faq-text">Do you provide advice or support?</span>
        </button>
      </h3>
      <div class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text"
          style="color: rgba(250, 250, 250, 0.6); font-weight: 500; font-size: 16px; line-height: 150%;">The terms of
          project implementation depend to a large extent on a number of factors, such as the scope of the project, its
          complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually
          occurs during the planning phase of the project.</p>
      </div>
    </li>

    <li class="ac faq-ac">
      <h3 class="ac-header faq-ac-header">
        <button type="button" class="ac-trigger faq-ac-trigger" style="color: #fafafa; display: inline; font-weight: 600; font-size: 20px; line-height: 150%;">
          <span class="faq-text">What does the process of developing a software product look like from idea to implementation?</span>
        </button>
      </h3>
      <div class="ac-panel faq-ac-panel">
        <p class="ac-text faq-ac-text" style="color: rgba(250, 250, 250, 0.6); font-weight: 500; font-size: 16px; line-height: 150%;">Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal,
        as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
      </div>
    </li>

  </ul>
</section>