<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo-wrapper">
        <a href=" " class="image-wrapper">
          <img src="" alt="logo" width="80" height="80" />
          <p class="logo-text">jefferson*</p>
        </a>
      </div>
      
     
      <div class="btn-wrapper">
        <a href="#worktogether" class="order-btn"> Order the project</a>
      </div>

      
    </div>
  </div>
</header>


<script type="module" src="./js/header.js"></script>