<section class="projects">
  <!-- <link rel="stylesheet" href="../css/projects.css"> -->
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper projects-js">
      <ul class="swiper-wrapper project-wraper">
        <li class="swiper-slide projects-item">
          <div class="project-flax">
            <div class="project-flax-one">
              <div class="projects-languages-wrap">
                <div class="projects-languages">#react</div>
                <div class="projects-languages">#js</div>
                <div class="projects-languages">#node js</div>
                <div class="projects-languages">#git</div>
              </div>
              <p class="text projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
              <a href="https://github.com/Vol3odya/ProjectJavaScript" target="_blank" class="projects-btn">See project</a>
            </div>
            <div class="projects-image-wrap">
              <img class="projects-image" src="./img/projects/project1.png" alt="project1" srcset="./img/projects/project1.png 1x, 
                              ./img/projects/project1-2x.png 2x">
            </div>
          </div>
        </li>
        <li class="swiper-slide projects-item">
          <div class="project-flax">
            <div class="project-flax-one">
              <div class="projects-languages-wrap">
                <div class="projects-languages">#react</div>
                <div class="projects-languages">#js</div>
                <div class="projects-languages">#node js</div>
                <div class="projects-languages">#git</div>
              </div>
              <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
              <a href="https://github.com/Vol3odya/ProjectJavaScript" target="_blank" class="projects-btn">See project</a>
            </div>
            <div class="projects-image-wrap">
              <img class="projects-image" src="./img/projects/project2.png" alt="project2" srcset="./img/projects/project2.png 1x, 
                              ./img/projects/project2-2x.png 2x">
            </div>
          </div>
        </li>
        <li class="swiper-slide projects-item">
          <div class="project-flax">
            <div class="project-flax-one">
              <div class="projects-languages-wrap">
                <div class="projects-languages">#react</div>
                <div class="projects-languages">#js</div>
                <div class="projects-languages">#node js</div>
                <div class="projects-languages">#git</div>
              </div>
              <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
              <a href="https://github.com/Vol3odya/ProjectJavaScript" target="_blank" class="projects-btn">See project</a>
            </div>
            <div class="projects-image-wrap">
              <img class="projects-image" src="./img/projects/project3.png" alt="project3" srcset="./img/projects/project3.png 1x, 
                              ./img/projects/project3-2x.png 2x">
            </div>
          </div>
        </li>
      </ul>
      <div class="project-wrap">
        <div class="project-button-prev swiper-button-prev"></div>
        <div class="project-button-next swiper-button-next"></div>
      </div>
    </div>
  </div>
  
  
</section>
