<section class="projects">
  <!-- <link rel="stylesheet" href="../css/projects.css"> -->
  <div class="container swiper projects-js">
    <h2>Projects</h2>
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div>#react</div>
        <div>#js</div>
        <div>#node js</div>
        <div>#git</div>
        <p>Programming Across Borders: Ideas, Technologies, Innovations</p>
        <button type="button">See project</button>
        <img src="../img/projects/project1.png" alt="project1" 
          srcset="../img/projects/project1.png 1x, 
            ../img/projects/project1-2x.png 2x">
      </li>
      <li class="swiper-slide">
        <div>#react</div>
        <div>#js</div>
        <div>#node js</div>
        <div>#git</div>
        <p>Programming Across Borders: Ideas, Technologies, Innovations</p>
        <button type="button">See project</button>
        <img src="../img/projects/project2.png" alt="project2" 
          srcset="../img/projects/project2.png 1x, 
            ../img/projects/project2-2x.png 2x">
      </li>
      <li class="swiper-slide">
        <div>#react</div>
        <div>#js</div>
        <div>#node js</div>
        <div>#git</div>
        <p>Programming Across Borders: Ideas, Technologies, Innovations</p>
        <button type="button">See project</button>
        <img src="../img/projects/project3.png" alt="project3" 
          srcset="../img/projects/project3.png 1x, 
            ../img/projects/project3-2x.png 2x">
      </li>
    </ul>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <!-- <script type="module" src="../js/projects.js"></script> -->
</section>
