<section class="reviews" id="reviews.html">
  <div class="reviews-container container">
    <h3 class="reviews-title">REVIEWS</h3>
    <ul class="reviews-list">
      <li class="reviews-items">
        <img class="reviews-img" src="./img/girl1-2x1440.jpg" alt="Natalia" />
        <h3 class="review-title">Natalia</h3>
        <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible
          specialist. The projects were
          completed on time and the result exceeded my expectations</p>
      </li>
      <li class="reviews-items">
        <img class="reviews-img" src="./img/girl1-2x1440.jpg" alt="Natalia" />
        <h3 class="review-title">Natalia</h3>
        <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible
          specialist. The
          projects were
          completed on time and the result exceeded my expectations</p>
      </li>
      <li class="reviews-items"><img class="reviews-img" src="./img/girl1-2x1440.jpg" alt="Natalia" />
        <h3 class="review-title">Natalia</h3>
        <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible
          specialist. The
          projects were
          completed on time and the result exceeded my expectations</p>
      </li>
      <li class="reviews-items"><img class="reviews-img" src="./img/girl1-2x1440.jpg" alt="Natalia" />
        <h3 class="review-title">Natalia</h3>
        <p class="review-text">Work with was extraordinary! He turned out to be a very competent and responsible
          specialist. The
          projects were
          completed on time and the result exceeded my expectations</p>
      </li>
    </ul>
  </div>
  <div class="arrows">
    <svg class="arrows-left" width="24" height="24">
      <use class="arrows-icon-left" href="../reviews-img/icons.svg#icon-left"></use>
    </svg>
    <svg class="arrows-right" width="24" height="24">
      <use class="arrows-icon-right" href="../reviews-img/icons.svg#icon-right"></use>
    </svg>
  </div>
</section>
