.faq-container {
  margin-top: 64px;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 12px;
}

.faq-accordion-container {}

.faq-ac {
  border-color: rgba(250, 250, 250, 0.4);
  border-left: none;
  border-right: none;
  margin: 0;
}

.faq-ac .faq-ac-header{
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq-ac .faq-ac-panel .faq-ac-text {
  margin-bottom: 20px;
}

.faq-ac-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  background-color: #1c1d20;
}

.faq-ac-trigger {
  /*margin-right: 0;*/
  margin-top: 20px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  display: inline;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.faq-ac .faq-ac-trigger::after {
  content: url("../img/faq/iconB.svg");
  margin-right: 0;
  margin-top: 0;
  width: 34px;
  height: 34px;
}

.faq-ac.is-active>.faq-ac-header .faq-ac-trigger::after {
  content: url("../img/faq/iconT.svg");
  margin-right: 0;
  margin-top: 0;
  width: 34px;
  height: 34px;
}

.faq-text{
  max-width: 290px;
  padding: 0;
}

.faq-ac-panel {
  background-color: #1c1d20;
}

.faq-ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .faq-text {
      max-width: 574px;
    }
}