.header {
    position: absolute;
    width: 100%;
    top: 20px;
  }
  
  .header-nav-wrapper {
    display: none;
  }
  
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 0;
    transition: fill 250ms linear;
  }
  
  .logo-icon {
    width: 16px;
    height: 16px;
  }

  .header-menu-link {
    background-color: #ED3B44 ;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    background-color: #ED3B44;
  }