.header {
  position: absolute;
  padding-top: var(--pb-small);
  width: 100%;
  background-color: transparent;
  z-index: 50;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
}

.logo-wrapper {
  display: flex;
  flex-grow: 1;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.logo-text {
  color: var(--main-text);
}

.btn-wrapper {
  font-family: 'Courier New', Courier, monospace;
}

.order-btn {
  display: none;
}

/* nav */

.nav-menu {
  display: none;
}

.custom-checkbox-one {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.menu-list {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0;
  margin: 0;
  z-index: 1000;
  text-align: center;
  width: max-content;

}

.menu-list-item {
  padding: 10px;
}

.menu-list-item a {
  text-decoration: none;
  color: black;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox:checked+.menu-list {
  display: block;
}