html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================================================================================================================== */


.projects {
    position: absolute;
}
/* body {
    width: 345px;
    background: #1c1d20;
} */

/* .container {
    width: 344px;
} */

.projects-item {
    background: #fafafa;
    border-radius: 24px;
}

.projects-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}

.projects-languages {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c1d20;
    border: 1px solid rgba(28, 29, 32, 0.2);
    border-radius: 60px;
    padding: 13px 18px;
    height: 45px;
    box-sizing: border-box;

}

.projects-languages-wrap {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 32px;
    flex-wrap: wrap;
}

.projects-text {
    text-align: start;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #1c1d20;
    padding: 64px 32px 0px 32px;
}

.projects-btn {
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 60px;
    padding: 13px 32px;
    width: 148px;
    height: 45px;
    background: #ed3b44;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin: 32px;
}

.projects-image-wrap {
    background-color: #242527;
    padding: 100px 16px;
    border-radius: 0 0 24px 24px;
}

.projects-image {
    width: 311px;
    height: 195px;
}

.projects-button-next {
    fill: transparent;
    stroke: #fafafa;
}

/* =============== */
.project-button-prev,
.project-button-next {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px;
    width: 52px;
    height: 52px;
    margin-inline: 12px;
}

.project-button-prev:after {
    content: url("../img/projects/left-icon.svg");
}

.project-button-next:after {
    content: url("../img/projects/right-icon.svg");
}

:root {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: #fafafa;
    top: 0;
}
/* ====================== */

/* =============================== tablet 768 px ================================ */

@media screen and (min-width: 768px) {
    /* body {
        width: 768px;
    } */

    /* .container {
        width: 704px;
    } */

    .projects-languages-wrap {
        padding: 64px;
    }

    .projects-text {
        padding: 100px 146px 32px 64px;
        font-size: 44px;
        line-height: 1;
    }

    .projects-btn {
        padding: 18px 50px;
        width: 184px;
        height: 55px;
        margin: 0 64px 64px 64px;
    }

    .projects-image-wrap {
        padding: 120px 45px;
    }
}



/* ==========================   desktope 1440 px ================================== */

@media screen and (min-width: 1440px) {
    /* body {
        width: 1440px;
    } */

    /* .container {
        width: 1376px;
    } */

    .projects-item {
        display: flex;
    }

    .projects-text {
        padding: 160px 130px 32px 64px;
    }

    .projects-image-wrap {
        padding: 120px 37px;
    }
}

.projects {
    margin-top: 0;
}