/* Reset styles */
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: #1c1d20;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture{
  padding: 0;
}

source{
  padding: 0;
  max-height: 0;
}