.reviews {
    min-width: 343px;
    min-height: 442px;
    /*padding: 64px 0;*/
    background-color: #1C1D20;
}

/*.reviews-container {
    margin: 0;
}*/

.swiper-wrapper .reviews-items {
    min-width: 343px;
    min-height: 302px;
    padding: 32px 24px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
}

.reviews-title {
    margin-bottom: 32px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
}

.reviews-img {
    border-radius: 10px;
    min-width: 48px;
    height: 48px;
    background: #e0e0e0;
    margin-bottom: 16px;
}

.review-author {
    min-width: 240px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.review-text {
    min-width: 240px;
    min-height: 120px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

.swiper-button-prev,
.swiper-button-next {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px;
    width: 52px;
    height: 52px;
<<<<<<< HEAD
    /*position: absolute;*/
    margin-top: 180px;
    /*top: calc(100% - 62px + 92px);/*calc(91% + 100px);*/
    /*transform: translateY(-50%);*/
}

.swiper-button-prev:after {
    content: url("../img/reviews/arrow-narrow-left.svg");
}

.swiper-button-next:after {
    content: url("../img/reviews/arrow-narrow-right.svg");
=======
    position: absolute;
    top: calc(51% + 250px);
    transform: translateY(-50%);
>>>>>>> 86269ccfb852d83b656ee38a116ba33b2b1466ec
}

.swiper-button-prev {
    left: calc(50% - 52px - 6px);
}

.swiper-button-next {
    right: calc(50% - 52px - 6px);
}


:root {
    --swiper-navigation-size: 24px;
    --swiper-theme-color: #fafafa;
}

@media screen and (min-width: 375px) {

    .swiper-slide .review-text {
        min-width: 296px;
    }

    .review-author {
        margin-bottom: 8px;
    }

}

@media screen and (min-width: 768px) {
   /* .reviews {
        padding: 96px 16px;
    }*/

    .swiper-button-prev,
    .swiper-button-next {
        width: 68px;
        height: 68px;
        margin-top: 190px;
    }
 .swiper-button-prev,
 .swiper-button-next {
     top: calc(51% + 275px);
 }
    .swiper-button-prev {
        left: calc(50% - 62px - 20px);
    }

    .swiper-button-next {
        right: calc(50% - 62px - 20px);
    }

    :root {
        --swiper-navigation-size: 32px;
    }
}

@media screen and (min-width: 1440px) {
<<<<<<< HEAD
    /*.reviews {
        padding: 164px 16px;
    }*/
=======
    .reviews {
        padding: 164px 0;
    }
>>>>>>> 86269ccfb852d83b656ee38a116ba33b2b1466ec

    .swiper-wrapper .reviews-items {
        min-width: 332px;
        min-height: 302px;
    }

    .swiper-wrapper .review-text {
        min-width: 284px;
    }

    .swiper-button-prev,
    .swiper-button-next {
<<<<<<< HEAD
        margin-top: 190px;
=======
        top: calc(50% + 190px);
>>>>>>> 86269ccfb852d83b656ee38a116ba33b2b1466ec
    }

}